body{
    margin: 0;
    padding: 0;
    font-size: 20px;
    background-color: #012442;
    color: rgb(211, 192, 170);
}

.form{
    width: 100%;
    display: flex;
    justify-content: center;
}

.form form{
    margin-top: 10px;
}

.form span{
    font-size: 26px;
    color: #FFA566;
}

.button{
    width: 100px;
    height: 40px;
    background-color:#5BA0BF;
    border: #0a477c solid 1px;
    border-radius: 5px;
    color:#0a477c;
    font-size: 15px;
    font-weight: bold;
}

.button:hover{
    background-color:#32a4da;
}

.button:active{
    background-color:#2680aa;
}

input{
    background-color: #3d7792;
    border: none;
    height: 25px;
    color:#FFA566;
    font-size: 20px;
    margin-bottom: 20px;
}
::placeholder{
    color:rgb(204, 192, 176)
}

select{
    width: 30%;
    font-size: 16px;
}

option{
    padding: 5px;
}

textarea{
    padding: 10px;
    width: 50%;
    font-size: 16px;
    border: 1px solid #ccc;
}

.checkbox{
    width: 20px;
    height: 20px;
}